* {
    box-sizing: border-box;
}

.bellows {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bellows__header {
    cursor: pointer; /* Forces iOS to allow taps on non-tappable elements */
}

.bellows__content-wrapper {
    height: 0;
    overflow: hidden;
}

.bellows--open > .bellows__content-wrapper {
    height: auto;
    overflow: visible;
}
