.bellows__header {
    cursor: pointer; // Forces iOS to allow taps on non-tappable elements
}

.bellows__content-wrapper {
    box-sizing: border-box; // Necessary for animations to work
    height: 0;
    overflow: hidden;
}

.bellows--open > .bellows__content-wrapper {
    height: auto;
    overflow: visible;
}
