$header-background: #3498db;
$active-header-background: #2980b9;

.bellows {
    box-sizing: border-box;
}

.bellows__header {
    position: relative;

    height: 54px;
    padding: 0 20px;
    border: 1px solid $active-header-background;
    border-width: 0 0 1px;
    
    background: $header-background;
    
    line-height: 52px;
    color: white;
    
    -webkit-tap-highlight-color: rgba(black, 0);
    
    &:active {
        background: $active-header-background;
    }
    
    &::after {
        content: '';
        
        position: absolute;
        top: 50%;
        right: 20px;
        z-index: 2;
        
        display: block;
        width: 16px;
        height: 16px;
        margin-top: -10px;
        
        box-shadow: inset -5px 5px 0 1px white;

        color: white;
        font-size: 25px;
        line-height: 15px;
        font-weight: bold;
        text-align: center;
        
        pointer-events: none;
        
        transform: rotate(135deg);
        
        transition: box-shadow 0.1s ease-in-out;
                
        .bellows__item.bellows--is-open > &,
        .bellows__item.bellows--is-opening > & {
            margin-top: -5px;
            box-shadow: inset 5px -5px 0 1px white;
        }

        .bellows__item.bellows--is-closing > & {
            box-shadow: inset -5px 5px 0 1px white;
        }
    }

    .bellows__item:last-child > & {
        border-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4 {
        margin: 0;
    }
}

.bellows__content {
    padding: 20px;
    border: 1px solid #ecf0f1;
        
    .bellows {
        margin-top: 20px;
    }
}