// Don't show the Bellows content before our script has initialized
.bellows__item:not(.bellows--is-open) {
    > .bellows__content {
        display: none;
    }
}

.bellows__item.bellows--is-open,
.bellows__item.bellows--is-closing {
    > .bellows__content-wrapper {
        // This declaration is necessary for items that are open by default
        display: block
    }
}

.bellows__content-wrapper {
    display: none;
}