.m-bellows {
    list-style: none;
}
.m-bellows li {
    list-style: none;
    margin: 0;
}
.m-bellows .m-content {
    -webkit-transition: max-height 0.5s ease;
    -moz-transition: max-height 0.5s ease;
    -o-transition: max-height 0.5s ease;
    transition: max-height 0.5s ease;
    overflow: hidden;
    max-height: 0;
}
.m-bellows .m-active > .m-content {
    max-height: 10000px; /* IE hack */
}

.m-bellows .m-header {
    z-index: 1;
    position: relative;
    margin-top: -1px;
    pointer-events: cursor; /* For iOS */
}

.m-bellows h3 {
    margin: 0;
}

.m-bellows .m-header > a {
    pointer-events: none;   
}
