.bellows__content {
    max-height: 0;
    overflow: hidden;
    
     /* JS currently requires a transition to exist */
     /* This should get moved to the theme eventually */
    transition: max-height 0.1s linear;
}

.bellows__header {
    cursor: pointer; /* Forces iOS to allow taps on non-tappable elements */
}